/* Conteneur plein écran */
.animated-container {
  width: 100%;
  min-height: 100vh;  /* au moins un écran */
  overflow: hidden;   /* <-- supprimer cette ligne */
  position: fixed; /* <-- ajouter pour normaliser le flux */
}

/* Logo centré */
.animated-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  z-index: 10;
  will-change: transform, width, height;
}

/* Contenu overlay */
.animated-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

/* Fond */
.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* derrière le contenu */
  filter: none;      /* pas de blur ni d’assombrissement au départ */
  transform: scale(1); /* taille normale au départ */
}



/* Zone de texte bas-centre */


.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #8caf70;
  font-family: "Fomalhaut", sans-serif;
  font-size: 18px;
  opacity: 0.9;
  font-weight: 700;
}
