.presentation-container {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #ebe8db;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
}

/* colonne gauche */
.presentation-left {
  flex: none;
  width: 40%;
  position: relative; /* nécessaire pour que le h2 puisse être positionné au-dessus */
}

.presentation-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.presentation-title {
  position: absolute;   /* positionné par rapport à .presentation-left */
  top: 10rem;
  left: 50%;            /* centre horizontalement */
  transform: translate(-50%, -50%); /* ajuste pour que le centre réel soit au milieu */
  font-size: 4rem;
  z-index: 10;          /* au-dessus de l'image */
  margin: 0;
  text-align: center;   /* centre le texte si sur plusieurs lignes */
}


/* colonne droite */
.presentation-right {
  flex: none;               /* plus de flex implicite */
  width: 55%;               /* largeur fixe de la colonne droite */
  padding-left: 2rem;       /* espace avec la colonne gauche */
}

.presentation-text p {
  margin-right: 2rem;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

.presentation-text p:nth-child(1) { margin-top: 60vh; margin-right: 40%; }
.presentation-text p:nth-child(2) { margin-top: 10rem; margin-left: 40%; text-align: right;}
.presentation-text p:nth-child(3) { margin-top: 10rem; margin-right: 40%; text-align: left;}
.presentation-text p:nth-child(4) { margin-top: 10rem; margin-left: 40%; text-align: right;}
.presentation-text p:nth-child(5) { margin-top: 10rem; margin-right: 40%;   margin-bottom: 60vh; text-align: left;}

