.presentation-container {
  height: 100vh;            /* prend exactement la hauteur de l'écran */
  min-height: 100vh;        /* pour cohérence cross-browser */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;       /* padding réduit pour tenir dans 100vh */
  background-color: #ebe8db;
  gap: 2rem;
  position: relative;
  box-sizing: border-box;   /* padding inclus dans la hauteur */
}

.bottom-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #8caf70;
  max-width: 90%;
  background-color: #ebe8db;
  padding: 20px 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: -85px;
}

/* colonne gauche */
.presentation-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  overflow: hidden;
}

.presentation-img {
  width: 220px;        /* réduit pour tenir */
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* colonne droite */
.presentation-right {
  flex: 2;
  max-height: 80vh;    /* pour éviter le dépassement */
  overflow-y: auto;    /* scroll interne si besoin */
  padding-right: 1rem;
}

.presentation-title {
  font-size: 2rem;
  color: #8caf70;
  margin-bottom: 1rem;
}

.presentation-text p {
  font-size: 1rem;
  line-height: 1.4;
  color: #1d300e;
  margin-bottom: 0.75rem;
}
